.bloco1 {
border: solid;
border-color: black;
background-color: blue;
width: 200px;
height: 200px;
position:position;
left: 200px ;
top: 200px ;
}

.bloco2 {
border: solid;
border-color: black;
background-color: green;
width: 200px;
height: 200px;
position:absolute;
left: 200px ;
top: 200px ;
}

.bloco3 {
border: solid;
border-color: black;
background-color: red;
width: 200px;
height: 200px;
}

.bloco4 {
border: solid;
border-color: black;
background-color: yellow;
width: 200px;
height: 200px; 
position:  ;
left: 200px; 
top: 200px;
}
