.bloco1 {
    border: solid;
    border-color: black;
    background-color: blue;
    width: 200px;
    height: 200px;
    position: static;
    left: 200px;
    top: 200px;
}
.bloco2 {
    border: solid;
    border-color: black;
    background-color: green;
    width: 200px;
    height: 200px;
    position:absolute;
    left: 1000px ;
    top: 80px ;
    }
    .bloco3 {
        border: solid;
        border-color: black;
        background-color: red;
        width: 200px;
        height: 200px;
        position: relative;
        left: 0px;
        top: 80px;
    }
    .bloco4 {
        border: solid;
        border-color: black;
        background-color: rgb(251, 255, 0);
        width: 200px;
        height: 200px;
        position:absolute;
        left: 1000px;
        top: 360px;
    }