body {
    font-family: Arial, sans-serif;
    margin: 10;
    padding: 80;
    background-color: #f4f4f4;
}

header {
    background-color: #33333360;
    color: #0c0909;
    padding: 1em 0;
    text-align: center
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 2em;
    text-align: center;
}

.room {
    border: 1px solid #ddd;
    padding: 1em;
    margin: 1em 0;
}

footer {
    background-color: hsl(0, 73%, 72%);
    color: #0f0e0e;
    text-align: center;
    padding: 0% 0;
    position:static;
    width: 100%;
    bottom: 25;
}
